<!DOCTYPE html>
<head>
    <title>GeoJSON + Flask + MongoDB</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>
        Let's display some nice maps here!
    </h1>

<div id="controls" style="margin: 15px;">
  <form id="form1" action="#">
  	<label for="input1">Enter Address:</label>
  	<input id="input1" type="text">
  	<input type="submit" id="bt1">
  </form>
</div>

<div id="map" style="height: 80vh;"></div>

<script>

var map = L.map('map').setView([-37.8, 144.9], 13);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: 'Open street map'
}).addTo(map);

// Create event listener for the Enter Address form
document.getElementById("form1").addEventListener('submit', addPoint);

// add point function
function addPoint() {
  var userAddress = document.getElementById("input1").value;
  axios.post('http://127.0.0.1:5000/geojson-user', {address: userAddress})
      .then(response => {
          console.log(response.data)
          L.geoJSON(response.data, {}).addTo(map);
  })
};

</script>

</body>
</html>
