<!DOCTYPE html>
<head>
    <title>GeoJSON + Flask + MongoDB</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>
        Let's display some nice maps here!
    </h1>





<div id="map" style="height: 80vh;"></div>

<script>

var map = L.map('map').setView([-37.8, 144.9], 13)
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition((position) => {
        map.panTo(L.latLng(position.coords.latitude, position.coords.longitude))
    })
}
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: 'Open street map'
}).addTo(map)

//axios.get('http://127.0.0.1:5000/geojson-features')
//    .then(response => {
//        console.log(response.data)
//        L.geoJSON(response.data, {}).addTo(map);

axios.post('http://127.0.0.1:5000/geojson-user', {address: 'Melbourne Australia'})
    .then(response => {
        console.log(response.data)
        L.geoJSON(response.data, {}).addTo(map);
})



</script>

</body>
</html>
